@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity:1;
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0,20px,0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -20px, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(20px, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-20px, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
	.scene_element {
		animation-duration: 1s;
		transition-timing-function: ease-in;
		animation-fill-mode:both;
	}
	.scene_element--fadein {
		animation-name: fadeIn;
	}
	.scene_element--fadeinup {
		animation-name:fadeInUp
	}
	.scene_element--fadeindown {
		animation-name: fadeInDown;
	}
	.scene_element--fadeinright {
		animation-name: fadeInRight;
	}
	.scene_element--fadeinleft {
		animation-name: fadeInLeft;
	}
	
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
	-webkit-animation-name: zoom;
    -webkit-animation-duration: 0.5s;
    animation-name: zoom;
    animation-duration: 0.5s;
}

#img1 {
	border: 5px solid rgba(40,143,91,0.4);
	box-shadow: 5px rgb(0,0,0);
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, san-serif;
	font-size: 14px;
	margin: 0;
	width: 100%;
	height: 100%;
	color: rgb(242,242,242);
	background-color: rgb(61,61,61);
	/*background: url(bodyBackground.jpg);
	background-repeat: no-repeat;*/
	line-height: 1.4;
}

.header_wrapper {
	position: relative;
	width: 100%;
	margin-top: 25px;
	min-width: 800px;
	height: 100px;
	/* original colour */
	background-color: rgb(40,143,91);
	/*background-color: rgb(43,118,71);*/
	/*background-color: #3CB371;*/
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
#main_wrapper {
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	max-width: 1000px;
	height: 100%;
	max-height: 1300px;
	/*background-color: #3CB371;*/	
}
.main_container {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.header_container {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.main_wrapper_header {
	height: 200px;
	background-image: url(banner_background2.png);
	background-repeat: no-repeat;
	background-position: left center;
	/*background-color: rgb(40,143,91);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	background-color: #3CB371;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid rgb(31,115,72);*/
}
.page_header {
	width: 960px;
	float: left;
	font-family: Arial;
	font-size: 28px;
	padding-left: 30px;
	padding-right: 10px;
	letter-spacing: 0.01em;
	display: inline-block;
	text-shadow: 0px 1px 2px rgba(0,0,0,.5);
	background-color: rgba(0,0,0,.3);
}
.textBackground {
	width: 1000px;
	padding-top: 162px;
	position: absolute;
	float: left;
	z-index: 10;
}
.main_content {
	height: 800px;
	position: relative;
	/*original colour*/
	background-color: rgb(40,143,91);
	/*background-color: rgb(52,137,84);*/
}
.map_container {
	box-shadow: -10px 10px 2px rgba(0,0,0,.1);
	position: relative;
	float: left;
	margin: 15px 0px 20px 23px;
	/*border: 2px solid rgb(29,125,64);*/
}
.contact_sub_margin {
	margin-top: 21px;
}
.section1 {
	/*background-color: rgb(40,143,91);*/
	height: 750px;
	position: relative;
}
.section1_Container {
	margin: 10px 25px 20px 25px;
	position: relative;
	width:945px;
	height: 320px;
}
.column {
	display: inline-block;
	width: 305px;
	height: 320px;
	/*background-color: rgba(0,0,0,.2);*/
}
.contactInfoHeader {
	width: 125px;
	text-align: center-right;
	float: right;
}
.small {
	font-size: 10px;
	margin-top: -20px;
}
.left {
	float: left;
	margin-right: 15px;
}
.middle {
	float: left;
	margin-right: 15px;
}
.right {
	float: right;
}
.bottom {
	border-bottom: 1px solid rgba(0,0,0,.05);
}
.footer_wrapper {
	position: relative;
	margin: 0;
	height: 50px;
	background-color: rgba(0,0,0,.07);	
}
.footer_content {
	font-size: 12px;
	padding: 7px 0px 0px 0px;
	text-align: center;
	width: 100%;
	text-shadow: 0px 1px 1px rgba(0,0,0,.3);
}
.footer_content_vehicles {
	padding: 3px 0px 0px 0px;
}
.column1_container {
	float: left;
	width: 500px;
	height: 749px;
	display: block;
	/*border-right: 1px solid rgb(31,115,72);*/
}
.column1_container_contact {
	float: left;
	width: 575px;
	display: block;
	/*border-right: 1px solid rgb(31,115,72);*/
}
.column1 {
	/*border: 1px solid rgb(29,125,64);*/
	transition: 0.4s;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
}

.column1:hover {
	cursor: pointer;
	opacity: 0.6;
}

.column1Text {
	text-align: center;
	transition: all 1s linear;
	font-size: .9em;
}

.columnLeft {
	margin-left: 30px;
	margin-bottom: 15px;
}
.columnRight {
	margin-bottom: 15px;
	margin-right: 30px;
	margin-left: 30px;
}
.column_content{
	width: 100%;
	margin: 0;
}
.column2_container {
	float: right;
	width: 500px;
	height: 749px;
	display: block;
}
.column2_container_contact {
	float: right;
	width: 425px;
	display: block;
}
p {
	font-family: Helvetica;
	margin: 10px 30px 10px 30px;
	font-size: 14px;
	text-shadow: 0px 1px 1px rgba(0,0,0,.3);
}
.vehicleSubHeader {
	text-align: center;
	padding-top: 35px;
}
p.vehicleInfoText {
	float: right;
	padding: 0;
}
.vehicleInfoColumn {
	margin: -5px 0px 0px 0px;
	/*border: 1px solid rgb(31,115,72);*/
	/*border-bottom: 3px solid rgb(31,115,72);*/
	/*background-color: #3CB371;*/
	/*box-shadow: 0px 0px 1px rgba(0,0,0,.1);*/
	text-shadow: 0px 0px 1px rgba(0,0,0,.3);
}
.vehicleInfoColumnLeft {
	float: Left;
	padding: 10px;
	width: 100px;
	border-right: 2px solid rgb(31,115,72);
}
p.address {
	font-size: 18px;
	margin: 5px 25px 10px 25px;
	letter-spacing: 0.03em;
}
h1 {
	font-family: Helvetica;
	text-shadow: 0px 1px 1px rgba(0,0,0,.3);
	font-size: 24px;
	margin: 5px 0px 5px 30px;
	color: rgb(232,232,232);
	text-transform: uppercase;
	letter-spacing: 0.015em;
	font-weight: bold;
}
.subheader_container {
	position: relative;
	border-bottom: 1px solid rgb(31,115,72);
	border-top: 1px solid rgb(31,115,72);
	/*background-color: rgb(51,176,113);*/	
	background-color: #3CB371;
}
.main_navbar {
	max-width: 1100px;
	margin: 0 auto;
	border-radius: 0;
	color: #fff;
	height: 100%;
}
caption.header {
	margin-top: 20px;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.2);
	border-radius: 5px;
}
.carInfo {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}
.contactInfoTable {
	border-radius: 10px;
	margin-left: 30px;
	margin-bottom: 15px;
	border-spacing: 0;
	border-collapse: collapse;
	width: 360px;
	height: 50px;
}
.addressTableHeader {
	background-color: rgba(0,0,0,.15);
	width: 100%;
	text-align: center;
	padding: 0;
	border-right: 0;
	border-bottom: 1px solid rgb(31,115,72);
}
.addressTableText {
	text-align: center;
	width: 100%;
	padding: 0;
}
td {
	width: 180px;
	line-height: 1.9em;
	float: left;
	padding-left: 5px;
	font-size: 14px;
	text-shadow: 0px 1px 1px rgba(0,0,0,.3);
}
th {
	background-color: rgba(0,0,0,.1);
	width: 120px;
	color: rgb(75,206,138);
	line-height: 1.9em;
	letter-spacing: 0.02em;
	height: 100%;
	width: 37%;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
	float: left;
	padding-right: 5px;
	font-size: 14px;
	border-right: 1px solid rgb(31,115,72);
	/*border-top: 1px solid rgba(0,0,0,.2);*/
	/*border-bottom: 1px solid rgba(0,0,0,.2);
	border-collapse: collapse;*/
	text-shadow: 0px 1px 1px rgba(0,0,0,.3);
	/*background-color: #3CB371;*/
	/*background-color: rgba(0,0,0,.1);*/
}
tr {
	background-color: rgba(0,0,0,.07);
	width: 100%;
}
tr.even {
	background-color: rgba(0,0,0,.2);
}
tr.odd {
	background-color: rgba(0,0,0,.1);
}
.contactButtons {
	padding-left: 25px;
	margin: 0 auto;
}
.navbar_links {
	padding-top: 20px;
	margin: 0;
	float: right;
	list-style: none;
	padding-left: 0;
	padding-right: 50px;
	position: relative;
}
.button {
	font-size: 24px;
	position: relative;
	display: inline-block;
	/*margin-right: 5px;*/
	letter-spacing: 0.015em;
	/*border-bottom: 2px solid rgb(31,115,72);*/
	border-color: rgb(31,115,72);
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	/*background-color: rgb(40,143,91);*/
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	text-shadow: 0px 1px 2.5px rgba(0,0,0,.3);
	background-color: #3CB371;
	transition: background-color .25s;
}
.contactButtons {
	margin-top: 10px;
}
.button:hover {
	background-color: rgb(38,158,97);
}
.textLink:hover {
	color: rgb(78,223,148);
	text-decoration: underline;
}
.button:active {
	background-color: rgb(38,158,97);
}
.left-side {
	margin-top: 5px;
	margin-left: 40px;
	margin-bottom: 5px;
	float: left;
	display: block;
	/*border: 1px solid rgb(29,125,64);
	background-color: rgba(44,51,46,.35);*/
}
.navbar_logo {
	letter-spacing: 0.01em;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 42px;	
	color: rgb(242,242,242);
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: -13px;
}
.subtext {
	font-style: italic;
	position: relative;
	font-weight: black;
	font-size: 26px;
	color: rgb(242,242,242);
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	letter-spacing: 0.02em;
	margin-left: 5px;
}
.navbar_smallLinks {
	background-color: rgba(0,0,0,.07);
	margin: 0;
	border-top: 1px dashed rgb(31,115,72);
	border-bottom: 1px dashed rgb(31,115,72);
	padding-bottom: 5px;
	padding: 0;
	text-align: center;
}
.smallLink {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding-bottom: 3px;
	list-style: none;
	font-size: 12px;
	display: inline-block;
}
.textLink {
	transition: color .25s;
	color: rgb(75,206,138);
	text-decoration: none;
}
.green {
	color: rgb(75,206,138);
}
.nav_link {
	padding: 10px;
	font-weight: normal;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.divider {
	margin-bottom: 10px;
	color: rgb(75,206,138);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

